.advantages .list {
    display: flex;
}

.plus-item:not(:last-child) {
    margin-right: 30px;
}

.plus-item {
    display: block;
    width: 270px;
}

.plus-title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.plus-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--alt-col);
}

.plus-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    border-radius: 4px;
    background-color: var(--alt-bcg-col);
}